/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500&display=swap");
/* MISC */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: black;
  font-family: 'Kanit', sans-serif;
  color: #ffffff; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff; }

p {
  margin: 0;
  font-size: 1.6em;
  color: white; }

img {
  width: 100%; }

/* PAGES */
/* CONTENIDO PRINCIPAL INDEX */
.principal {
  margin: 8rem 0rem; }
  .principal__contenedor {
    padding: 1;
    margin-bottom: 6rem; }
  .principal__h {
    margin: 0;
    margin-bottom: 2.2rem; }
  .principal__p {
    line-height: 2.3em; }
  .principal .secundario__h2 {
    margin-bottom: 2.2rem; }
  .principal .secundario__h3 {
    margin: 0rem; }
  .principal .contenedor-logo {
    margin: 2rem 0rem;
    padding: 0; }
  .principal .logos {
    display: flex; }
  .principal .logos__li {
    padding: 0px 5px; }
  .principal .logos2 {
    display: flex; }
  .principal .logos__li2 {
    padding: 0px 5px; }

/* FIN CONTENIDO PRINCIPAL INDEX */
.custom {
  text-align: center;
  margin: 4rem 0rem; }
  .custom .motivacional {
    margin: 4rem 0rem; }
  .custom .motivacional__h {
    margin: 0;
    margin-bottom: 2.2rem; }
  .custom .motivacional__p {
    line-height: 2.3em; }

.marcadora {
  display: flex;
  flex-direction: column; }
  .marcadora .marcadora__tarjeta {
    padding: 2rem 0rem;
    display: flex;
    align-items: center; }
  .marcadora .marcadora__tarjeta2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 2rem 0rem;
    text-align: end; }
  .marcadora .marcadora__img {
    width: 300px; }
  .marcadora .marcadora__texto {
    border-color: #81818142;
    border-width: 0px 2px 0px 0px;
    border-style: solid;
    padding: 0 2rem;
    width: 200px; }
  .marcadora .marcadora__texto2 {
    border-color: #81818142;
    border-width: 0px 0px 0px 2px;
    border-style: solid;
    padding: 0 2rem;
    width: 200px; }

.imgprin {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem; }
  .imgprin .imgprin__car {
    width: 80rem; }

.titulo {
  background-color: rgba(255, 255, 255, 0.062);
  margin-top: 1.5rem;
  padding: 1rem 00rem;
  border-radius: 0.4rem; }
  .titulo .titulo__contenedor {
    display: fleX;
    justify-content: center; }

.productos__li {
  padding: 1.3rem 0rem;
  display: flex;
  justify-content: center;
  height: 440px; }
  .productos__li .productos__tar {
    background-color: rgba(255, 255, 255, 0.062);
    padding: 20px 16px 10px 16px;
    line-height: normal; }
  .productos__li .productos__img {
    padding: 8px 0px;
    overflow: visible; }
  .productos__li .card-img-top {
    object-fit: cover;
    height: 180px; }
  .productos__li .productos__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column; }

.galcont .galeria {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px; }

.galcont .galeria2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px; }

.galcont .galeria__img {
  width: 400px; }

.galcont .galeria__mike {
  background-color: #fafafac3;
  border-radius: 5px;
  padding: 6px;
  transition: all 300ms; }

.galcont .galeria__mike:hover {
  transform: scale(1.15); }

.conten {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 6rem 0rem; }
  .conten .consulta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0rem; }
  .conten .formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 450px;
    border-radius: 1.5rem;
    border-style: solid;
    border-width: 2px;
    border-color: #81818142;
    background-image: url(../img/galeria/mk8.jpg);
    background-position: center;
    background-repeat: no-repeat; }
    .conten .formulario__cont {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 20px 0px; }
    .conten .formulario__caja {
      width: 300px;
      height: 30px;
      border-radius: 0.6rem;
      border-width: 2px;
      border-color: #f6ff00;
      background-color: #e1e0e0;
      font-size: 1.4em; }
    .conten .formulario__caja2 {
      width: 300px;
      height: 80px;
      border-radius: 0.6rem;
      border-width: 2px;
      border-color: #f6ff00;
      background-color: #e1e0e0;
      font-size: 1.4em; }
    .conten .formulario .btn {
      background-color: #e5ff00;
      width: 100px;
      font-size: 1.5em;
      font-weight: 500;
      font-size: large; }

.direccion2 {
  display: flex;
  justify-content: center;
  overflow: hidden; }
  .direccion2__cont {
    height: 200px; }
  .direccion2__mapa {
    width: 1305px;
    height: 200px; }

/* PARTIALS */
/* INICIO DE HEADER */
header {
  border-color: #81818142;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.623); }
  header .logo-header {
    width: 17rem; }
  header .navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: rgba(242, 253, 86, 0.705);
    background-color: #ffffff;
    border: var(--bs-border-width) solid #e8f59e;
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition); }
  header .direccion {
    flex-direction: row;
    justify-content: flex-end; }
  header .nav-item {
    text-align: center;
    margin: 0 1em; }
  header .nav-link {
    padding: 0;
    font-size: 2em;
    color: #ffffff;
    transition: 0.3s; }
  header .nav-link:hover {
    font-size: 22px;
    color: #fbff0077; }
  header .amarillo {
    text-decoration: underline;
    color: yellow; }

/* FIN DE HEADER */
/* INICIO DE FOOTER */
footer {
  padding: 0 1rem; }
  footer .footermk {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  footer .footermk__cont {
    display: flex;
    flex-direction: column;
    align-items: center; }
  footer .redes {
    text-align: center;
    color: #dfdede; }
  footer .social {
    display: flex; }
  footer .bi {
    padding: 0 0.8rem;
    color: #dfdede;
    font-size: 20px; }
  footer .logo-mk {
    width: 12rem; }
  footer .copyright {
    display: flex;
    justify-content: center;
    font-size: 0.8rem; }

/* FIN DE FOOTER */
/* MEDIA QUERY */
@media screen and (max-width: 1440px) {
  footer .bi {
    padding: 0 0.8rem;
    font-size: 1.5em; }
  footer .copyright {
    font-size: 0.8em; }
  .galcont {
    overflow: hidden;
    padding-bottom: 1rem; }
  .direccion2__cont {
    height: 200px; }
  .direccion2__mapa {
    width: 960px;
    height: 200px; } }

@media screen and (max-width: 900px) {
  .principal .contenedor-logo {
    margin: 0px; }
  .principal .logos__li {
    margin-top: 15px;
    padding: 0px 5px; }
  .principal .logos__li2 {
    margin-top: 15px;
    padding: 0px 5px; }
  .marcadora {
    overflow: hidden; }
    .marcadora .marcadora__tarjeta {
      padding: 2rem 0rem;
      display: flex;
      align-items: center; }
    .marcadora .marcadora__tarjeta2 {
      padding: 2rem 0rem;
      display: flex;
      align-items: center; }
    .marcadora .marcadora__img {
      width: 200px; }
    .marcadora .marcadora__texto {
      border-width: 0px;
      padding: 0px;
      width: 200px;
      font-size: 1.2em; }
    .marcadora .marcadora__texto2 {
      border-width: 0px;
      padding: 0px;
      width: 200px;
      font-size: 1.2em; }
  .galcont {
    overflow: hidden;
    padding-bottom: 1rem; }
    .galcont .galeria {
      padding: 1rem 0rem; }
    .galcont .galeria2 {
      padding: 1rem 0rem; }
    .galcont .video {
      display: none; }
  footer {
    padding: 0 0.5rem; }
    footer .bi {
      padding: 0 1.5rem;
      font-size: 1.8em; }
    footer .logo-mk {
      width: 100px; }
    footer .copyright {
      font-size: 0.8em; }
  .direccion2 {
    display: flex;
    justify-content: center;
    overflow: hidden; }
    .direccion2__cont {
      height: 200px; }
    .direccion2__mapa {
      width: 704px;
      height: 200px; } }

@media screen and (max-width: 576px) {
  header .logo-header {
    width: 120px; }
  .principal {
    margin: 1.5rem 0rem; }
    .principal .principal__contenedor {
      padding: 0;
      margin-bottom: 2.5rem; }
    .principal .principal__p {
      line-height: 1.5em; }
    .principal .contenedor-logo {
      margin: 0rem 0rem;
      padding: 0; }
      .principal .contenedor-logo .logos {
        display: flex;
        justify-content: space-evenly; }
        .principal .contenedor-logo .logos .logos__li {
          width: 35px;
          margin: 5px 0px;
          padding: 0px; }
      .principal .contenedor-logo .logos2 {
        display: flex;
        justify-content: space-evenly; }
        .principal .contenedor-logo .logos2 .logos__li2 {
          width: 35px;
          margin: 5px 0px;
          padding: 0px; }
  footer {
    padding: 0 0.5rem; }
    footer .bi {
      padding: 0 1rem;
      font-size: 1.4em; }
    footer .logo-mk {
      width: 80px; }
    footer .copyright {
      font-size: 0.6em; }
  .marcadora {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    overflow: hidden; }
    .marcadora .marcadora__tarjeta {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      width: 200px; }
    .marcadora .marcadora__tarjeta2 {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      width: 200px; }
    .marcadora .marcadora__img {
      width: 200px; }
    .marcadora .marcadora__texto {
      border-width: 0px;
      padding: 0px;
      width: 200px;
      font-size: 0.8em; }
    .marcadora .marcadora__texto2 {
      border-width: 0px;
      padding: 0px;
      width: 200px;
      font-size: 0.8em; }
  .galcont {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    padding-bottom: 1rem; }
    .galcont .galeria {
      width: 250px;
      padding: 1rem 0rem; }
    .galcont .galeria2 {
      width: 250px;
      padding: 0rem; }
    .galcont .galeria__img {
      margin: 0; }
    .galcont .video {
      display: none; }
  .conten {
    margin: 3rem 0rem; }
    .conten .formulario {
      width: 360px;
      height: 450px; }
    .conten .formulario__caja {
      width: 330px; }
    .conten .formulario__caja2 {
      width: 330px; }
  .direccion2 {
    display: flex;
    justify-content: center;
    overflow: hidden; }
    .direccion2__cont {
      width: 390px;
      height: 150px; }
    .direccion2__mapa {
      width: 390px;
      height: 150px; } }

@media screen and (max-width: 330px) {
  .conten {
    margin: 3rem 0rem; }
    .conten .formulario {
      width: 305px;
      height: 400px; }
    .conten .formulario__caja {
      width: 280px; }
    .conten .formulario__caja2 {
      width: 280px; }
  .direccion2 {
    display: flex;
    justify-content: center;
    overflow: hidden; }
    .direccion2__cont {
      width: 320px;
      height: 150px; }
    .direccion2__mapa {
      width: 320px;
      height: 150px; } }
