/* INICIO DE FOOTER */

footer {
    padding: 0 1rem;

    .footermk{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .footermk__cont {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .redes {
        text-align: center;
        color: #dfdede;
    }
    
    .social {
        display: flex;
    }
    
    .bi {
        padding: 0 0.8rem;
        color: #dfdede;
        font-size: 20px;
    }
    
    .logo-mk {
        width: 12rem;
    }
    
    
    .copyright {
        display: flex;
        justify-content: center;
        font-size: 0.8rem;
    }
}
/* FIN DE FOOTER */
