/* CONTENIDO PRINCIPAL INDEX */

.principal {
    margin: 4rem 0rem;

    &__contenedor {
        padding: 0;
        margin-bottom: 4rem;
    }
    &__h {
        margin: 0;
        margin-bottom: 2.2rem;
    }        
    &__p {
        line-height: 2.3em;
    }
    
    .secundario {

        &__h2 {
            margin-bottom: 2.2rem;
        }

        &__h3 {
            margin: 0rem;
        }
    }
    
    .contenedor-logo {
        margin: 2rem 0rem;
        padding: 0;
    }

    .logos {
        display: flex;
    }

    .logos__li {
        padding: 0px 5px;
    }
    .logos2 {
        display: flex;
    }

    .logos__li2 {
        padding: 0px 5px;
    }
}
/* FIN CONTENIDO PRINCIPAL INDEX */
